.swiper-button-prev {
  color: #979696;
  left: 30px !important; /* 🔹 Mueve la flecha izquierda */
}

.swiper-button-next {
  color: #979696;
  right: 30px !important; /* 🔹 Mueve la flecha derecha */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: bold !important;     /* 🔹 Hace las flechas más "bold" */
  font-size: 25px !important;      /* 🔹 Ajusta el tamaño si querés */
}

/* Opcional: cambia color al pasar el mouse */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #E9E9E9;
}


