@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source './*.blade.php';
@source '../views/**/*.blade.php';
@source '../js/**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.body1 {
    background-image: url('../../public/imgs/img_sistema/fondo-body.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.ventanaModal {
    @apply 
        fixed 
        inset-0 
        flex 
        bg-black/50 
        opacity-100         
        z-50
        transition-opacity;
  }

  .ventanaInterna_1{
    @apply 
        w-[98%] md:w-[60%] 
        max-h-[85vh]
        bg-white 
        m-auto 
        p-[0.5rem] md:p-[2.5rem]
        /*flex 
        flex-col 
           */
        overflow-y-scroll
        md:overflow-hidden
        relative;
}

.ventanaInterna_2{
    @apply 
        w-[90%] md:w-[40%] 
        h-[20vh] md:h-[40vh] 
        bg-[#ccd5ae]
        mt-[5rem]
        mx-auto
        rounded-md
        p-[0.5rem] md:p-[1rem]
        flex 
        flex-col
        bg-cover 
        bg-center;
}

.ventanaInterna_3{
    @apply 
        w-[90%] md:w-[30%] 
        h-auto
        self-start
        bg-white
        mt-[5rem]
        mx-auto
        rounded-md
        p-[1rem] md:p-[2rem];
}

.ventanaInterna_4{
    @apply 
        w-[90%] md:w-[45%] 
        h-auto
        self-start
        bg-white
        mt-[5rem]
        mx-auto
        rounded-md
        p-[0.5rem] md:p-[2rem];
}

.ventanaInterna_5{
    @apply 
        w-[90%] md:w-[30%] 
        h-auto
        self-start
        bg-white
        mt-[5rem]
        mx-auto
        rounded-md
        p-[0.5rem] md:p-[2rem];
}

.ventanaInterna_6{
    @apply 
        w-[98%] md:w-[25%] 
        bg-[#FEF0E9] 
        m-auto 
        p-[0.5rem] md:p-[2.5rem]
        overflow-x-hidden;
}


.btn-uno {
    @apply 
        bg-[#5D7857] 
        hover:bg-[#405D39] 
        transition-colors 
        duration-200 
        px-4 
        py-2 
        cursor-pointer 
        text-white;
}

.input-1{
    @apply 
        bg-white 
        block 
        w-full 
        px-2 
        py-2
        border-[1px]
        border-gray-400
        focus:outline-none
        focus:ring-0;
}
.input-1-err{
    @apply 
        bg-white 
        block 
        w-full 
        px-2 
        py-2
        border-[1px]
        border-red-500
        focus:outline-none
        focus:ring-0;
}

.textarea-1 {
    @apply 
        bg-white 
        block 
        w-full 
        px-2 
        py-2
        border-[1px]
        border-gray-400
        focus:outline-none
        focus:ring-0
        min-h-[8rem]   /* alto mínimo */
        max-h-[15rem]  /* alto máximo */
        overflow-y-auto; /* activa scroll si se supera el alto máximo */
}

.textarea-1-err {
    @apply 
        bg-white 
        block 
        w-full 
        px-2 
        py-2
        border-[1px]
        border-red-500
        focus:outline-none
        focus:ring-0
        min-h-[8rem]   /* alto mínimo */
        max-h-[15rem]  /* alto máximo */
        overflow-y-auto; /* activa scroll si se supera el alto máximo */
}


.grillas-celdas-1{
    @apply 
        bg-gray-400 
        rounded-md 
        text-white 
        font-bold 
        text-[14px] 
        flex
        justify-center
        items-center
        text-center
        whitespace-nowrap 
        overflow-hidden 
        text-ellipsis
        px-2 
        py-1;
}

.grillas-celdas-2{
    @apply 
        flex
        bg-gray-200
        rounded-md 
        text-black
        font-normal
        text-[14px] 
        px-2 
        whitespace-nowrap 
        overflow-hidden 
        text-ellipsis
        py-1;
}

.grillas-celdas-3 {
    @apply 
      flex
      bg-gray-200
      rounded-md 
      text-black
      font-normal
      text-[12px] 
      px-2 
      py-1
      break-words
      whitespace-normal
      overflow-hidden; 
  }